<h1>Add Subject</h1>
<div>
    Invalid: {{nameControl.invalid}}
    <br/>
    Valid: {{nameControl.valid}}
    <br/>
    Touched: {{nameControl.touched}}
    <br/>
    Untouched: {{nameControl.untouched}}
    <br/>
    Dirty: {{nameControl.dirty}}
    <br/>
    Pristine: {{nameControl.pristine}}
</div>
<form [formGroup]="subjectForm" (ngSubmit)="saveOrUpdateSubject()">
<div>
    <label>Name</label>
    <input type="text" id="name" name="name" formControlName="name" placeholder="Enter subject name">
    <p *ngIf="subjectForm.get('name')?.invalid && subjectForm.get('name')?.dirty">
        <span *ngIf="subjectForm.get('name')?.hasError('required')">
            Name is required
        </span>
        <span *ngIf="subjectForm.get('name')?.hasError('maxlength')">
            Name should less than 20 alphabets
        </span>
        <span *ngIf="subjectForm.get('name')?.hasError('minlength')">
            Name should be greater than 4 alphabets
        </span>
    </p>
</div>
<div>
    <label>Status</label>
    <select id="status" name="status" formControlName="status">
        <option value=""> Select Status</option>
        <option value="Active"> Active</option>
        <option value="Inactive"> Inactive</option>
    </select>
    <p *ngIf="subjectForm.get('status')?.invalid && subjectForm.get('status')?.dirty">
        <span *ngIf="subjectForm.get('status')?.hasError('required')">
            Status is required
        </span>
    </p>
</div>
<div formArrayName="syllabus">
    <label>Syllabus</label>
    <button type="button" (click)="plusChapter()">Add Chapter</button>
    <div class="chapter-form-container" *ngFor="let singleChapter of syllabus.controls;let i=index">
        <ng-container [formGroupName]="i">
            <div>
                <label>Title</label>
                <input type="text" id="title" name="title" placeholder="Enter title" formControlName="title">
            </div>
            <div>
                <label>Weightage</label>
                <input type="number" id="weightage" name="weightage" placeholder="Enter weightage" formControlName="weightage">
            </div>
            <div>
                <label>Content</label>
                <textarea id="content" name="content" formControlName="content" placeholder="Enter Content"></textarea>
            </div>
            <button type="button" (click)="minusChapter(i)">Remove Chapter</button>
        </ng-container>
    </div>
</div>
<div>
    <button type="submit">Save Subject</button>
</div>
</form>

{{nameControl.value}}