h1{
    color: burlywood;
}

.background-red {
    background-color: red;
    font-size: large;
}

.background-blue {
    background-color: blue;
    font-size: medium;
}

.background-green {
    background-color: green;
    font-size: small;
}