<h1>Hello World!!!</h1>

<h2 [title]="h2Title">{{title}}</h2>

<!--Arithmatic Operation-->
<p>{{2+4}}</p>

<p>{{a*b}}</p>

<p>{{getFullName()}}</p>

<p>{{a>5? "A is greater than 5": "A is not greater than 5"}}</p>

<h2 [title]="h2Title" [innerHTML]="html"></h2>

<button (click)="buttonCLicked($event)">Click Me</button>

<p (mouseover)="mouseOverHandler($event)"
(mouseout)="mouseOutHandler($event)"
[style.color]="ifMouseOver ? 'red': 'green'">This is Paragraph</p>

<table>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>First</th>
            <th>Last</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let singleStudent of studentList;let srNo = index;let f = first;let l = last"
        [ngClass]="{
            'background-red': singleStudent.percentage <=70,
            'background-blue': singleStudent.percentage > 70 && singleStudent.percentage <90,
            'background-green': singleStudent.percentage >=90
        }">
            <td>{{srNo +1}}</td>
            <td>{{singleStudent.name}}</td>
            <td>{{singleStudent.gender}}</td>
            <td>{{singleStudent.dob}}</td>
            <td>{{f}}</td>
            <td>{{l}}</td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>

<!-- NgIf Directive-->
<button (click)="toggleHasPermission($event)">Has Permission Toggle</button>
<div *ngIf="hasPermission;else elseRef">
This content will be shown if hasPermission true
</div>

<ng-template #elseRef>
    <div>
        This content will be shown if hasPermission false
    </div>
</ng-template>

<div *ngIf="4>5">

</div>

<div *ngIf="num1<10"></div>

<!--NgSwitch-->

<div [ngSwitch]="num2">
    <div *ngSwitchCase="10">
        Num2 is 10.
    </div>
    <div *ngSwitchCase="20">
        Num2 is 20
    </div>
    <div *ngSwitchCase="30">
        Num3 is 30
    </div>
    <div *ngSwitchDefault>
        Num2 is not 10, 20 and 30
    </div>
</div>

<!--Attribute Directive-NG MODEL-->

<div>
    <label>Name</label>
    <input type="text" name="userName" id="userName" [(ngModel)]="student.userName">
</div>


<div>
    <label>Dob</label>
    <input type="date" name="dob" id="dob" [(ngModel)]="student.dob">
</div>


<div>
    <label>EMail</label>
    <input type="email" name="email" id="email" [(ngModel)]="student.email">
</div>

<div>
    <label>Mobile</label>
    <input type="text" name="mobile" id="mobile" [(ngModel)]="student.mobile">
</div>

<div>
    {{student | json}}
</div>


<div [ngClass]="{
    'background-red': bGColor==1,
    'background-blue': bGColor !==1
    }">
 Ng Class Directive
</div>



<table>
    <thead>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>First</th>
            <th>Last</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let singleStudent of studentList;let srNo = index;let f = first;let l = last"
        [ngStyle]="{
            color:  singleStudent.percentage<60 ? 'red': 'green'
        }">
            <td>{{srNo +1}}</td>
            <td>{{singleStudent.name}}</td>
            <td>{{singleStudent.gender}}</td>
            <td>{{singleStudent.dob}}</td>
            <td>{{f}}</td>
            <td>{{l}}</td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>